/*zerowanie niepotrzebnych marginesów i opis podstawowego wyglądu strony*/

body, html{
    margin: 0;
}
/*main*/
#main{
    position: absolute;
    height: 100vh;
    background-image: url(../img/title-group-website.jpg);
    width: 100%;
}